    numpy==2.2.6
    flask==3.1.1    
    flask_sqlalchemy
    flask_restful
    redis
    celery
    flask_jwt_extended
    flask_login
    flask_cors
    flask_migrate
    flasgger
    flask_swagger_ui
    python-dotenv
    torch
    sentence_transformers
    langchain==0.3.27
    pytest==7.4.4
    pytest.egg==info
    pytz==2024.1
    pytz==2025.1
    transformers==4.54.1
    Werkzeug==3.1.3
    youtube_transcript_api==1.2.2
