celery
flask==3.1.1
flask_cors
flask_jwt_extended
flask_login
flask_migrate
flask_restful
flask_sqlalchemy
flasgger
flask_swagger_ui
python-dotenv
redis
requests
sentence_transformers
torch
urllib3
youtube-transcript-api
google-generativeai
